.container__rodape {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    background-color: var(--cor-vermelho-claro);
    border-top: 1px solid var(--cor-vermelho-escuro);
}

.rodape__logo-CoachZicke {
    width: 30vw;
    margin: 2rem auto;
}

.rodape__baconBurning-textoColorido {
    color: var(--cor-amarela);
}

.rodape__desktop-desafio {
    display: flex;
    flex-direction: column;
}

.rodape__logo-BaconBurning {
    width: 20vw;
    margin: 0 auto;
}

.rodape__redesSociais {
    display: flex;
    flex-direction: column;
}

.rodape_iconesRedesSociais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape__baconBuring {
    margin: 0 auto;
}

.rodape__lista-whastapp,
.rodape__lista-instagram {
    width: 10vw;
    padding: 1rem;
}

@media screen and (min-width: 1024px) {

.container__rodape {
    border-top: none;
    display: grid;
    grid-template-areas: 
    "coach desafio redesSociais";
    grid-template-columns: 1fr 1fr 1fr;
}

.rodape__coach-desktop {
    grid-area: coach;
    width: 30%;
    margin: 0 auto;
}

.rodape__logo-CoachZicke {
    width: 10vw;
}

.rodape__logo-BaconBurning {
    width: 8vw;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.rodape__redesSociais {
    grid-area: redesSociais;
    margin-right: auto;
}

.rodape__lista-whastapp,
.rodape__lista-instagram {
    width: 4vw;
    padding: 1rem;
}

}