.container__navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 2rem 1rem;
    padding-right: 2rem;
}

.navegacao__logo {
    width: 15vh;
}

.navegacao__paginas {
    display: none;
}

.participar__btn {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--cor-amarela);
    border-radius: 10px;
}

.media-query {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__navegacao {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-bottom: .5rem;
    }

    .navegacao__logo {
        width: 20vh;
    }

    .participar__btn {
        display: none;
    }

    .media-query {
        display: block;
    }

    .navegacao__titulo {
        text-align: center;
        padding-bottom: 5rem;
    }

}