.container__programas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.programas__container-secundario {
    margin-bottom: 2rem;
}

.programas__chamada {
    margin: 1rem 0;
    color: var(--cor-vermelho-escuro);
    font-weight: 500;
    background-color: var(--cor-vermelho-claro);
    border-radius: 30px;
    padding: .4rem;
  
}

.programas__individual {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 2rem 1rem 2rem;
}

.programa__individual-icone{
    width: 30%;
    margin-right: 1rem;
}

.programas__individual-descricao {
    margin-top: .5rem;
}

.programas__individual-btn,
.programas__desafio-btn {
    background-color: var(--cor-amarela);
    border-radius: 30px;
    padding: .5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.programas__individual-btn {
    margin-left: 75%;
}

.programas__desafio-icone {
    width: 30%;
}

.programas__desafio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem 1rem 2rem;
}

.programas__desafio-icone {
    margin-left: 1rem;
}

.programas__desafio-descricao {
    margin-top: .5rem;
}



@media screen and (min-width: 1024px) {

.container__programas {
    border-bottom: none;
    margin-bottom: 4rem;
}

.programas__container-secundario {
    width: 65vw;
    display: grid;
    flex-direction: row;
    grid-template-areas: 
    "individual desafio";
    grid-template-columns: 50% 50%;
    
}

.programas__chamada {
    margin-top: 4rem;
}

.programas__individual {
    grid-area: individual;
    margin: 5rem;
}

.programas__desafio {
    grid-area: desafio;
    margin: 5rem;
}

.programas__desafio-btn,
.programas__individual-btn {
    width: 15%;
    margin: .25rem auto;
    
}

}