@import url("nav.css");
@import url("header.css");
@import url("resultados.css");
@import url("funcionamento.css");
@import url("programas.css");
@import url("footer.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cor-preto);
    list-style: none;
}

:root {
    --cor-amarela: #f4d147;
    --cor-laranja: #f96e04;
    --cor-vermelho: #ec524c;
    --cor-vermelho-escuro: #b12622;
    --cor-vermelho-claro: #e8867b33;
    --cor-branco: #ffffff;
    --cor-preto: #000000;
    --cor-cinza: #667085;
    --fonte-principal: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte-principal);
}

/* responsividade

tablet: min-width: 768px
desktop: min-width: 1024px */